
<div class="container">
    <div class="row">
        <div class="col-md-2 col-xs-6">
            <div class="logo">
                <a href="index.html"><img src="/img/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-md-8 hidden-sm hidden-xs">
            <div class="menu">
                <nav>
                    <ul>
                        <li class="active"><a href="#hero" class="smoothscroll">Home</a></li>
                        <li><a href="#feature_one" class="smoothscroll">About</a></li>
                        <li><a href="#awesome_feature" class="smoothscroll">Features</a></li>
                        <li><a href="#screenshot" class="smoothscroll">Screenshots</a></li>
                        <li><a href="#pricing" class="smoothscroll">Pricing</a></li>
                        <li><a href="#faq" class="smoothscroll">FAQs</a></li>
                        <li><a href="#blog" class="smoothscroll">Blog</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-2 col-xs-6">
            <div class="top-share-get-app clearfix">
                <div class="top-share hidden-sm hidden-xs">
                    <span class="ts-button" id="ts_button"><i class="fa fa-share-alt"></i></span>
                    <ul class="share-by" id="share_by">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="get-app">
                    <a class="hvr-bs" href="#"><i class="fa fa-download"></i>Get App</a>
                </div>
            </div>
        </div>
    </div>
</div>