<div class="col-md-offset-1 col-md-3 col-sm-4 col-xs-12">
    <div class="sidebar-area">
        <div class="widget-item widget-search">
            <div class="ws-input">
                <form action="#">
                    <input type="text" placeholder="Search . . .">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
        <div class="widget-item widget-catagories">
            <h4 class="widget-title">categories</h4>
            <ul class="widget-list">
                <li><a href="#">Business <span>(11)</span></a></li>
               
            </ul>
        </div>
        <div class="widget-item widget-recent-post">
            <h4 class="widget-title">Recent Posts</h4>
            <div class="wrp-items">
                <div class="single-wrp clearfix">
                    <div class="wrp-img">
                        <img src="/img/sidebar/recent-post1.jpg" alt="">
                    </div>
                    <div class="wrp-content">
                        <a class="wrp-title" href="#">Feels so right it cant wrong Rockin' and long</a>
                        <div class="wrp-meta">
                            <span class="wrp-date">Sep 13, 2017</span>
                            <a href="#"><i class="fa fa-comments-o"></i> 11</a>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
        <div class="widget-item widget-follow-us">
            <h4 class="widget-title">follow us</h4>
            <ul class="follow-us">
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </div>
        <div class="widget-item widget-archives">
            <h4 class="widget-title">archives</h4>
            <ul class="widget-list">
                <li><a href="#">September <span>(05)</span></a></li>
               
            </ul>
        </div>
        <div class="widget-item widget-tags">
            <h4 class="widget-title">popular tags</h4>
            <ul class="tags">
                <li><a href="#">Agency</a></li>
                <li><a href="#">Brand</a></li>
                <li><a href="#">Design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">SEO</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">App</a></li>
            </ul>
        </div>
    </div>
</div>
