
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-8 col-sm-8 col-xs-12">
    <div class="standard-blog-area-left">

        <div class="standard-post-item post-img">
            <div class="spi-img">
                <a href="#"><img src="/img/blog/standard3.jpg" alt=""></a>
                <p class="spi-date">
                    <span class="date">28</span>
                    <span class="month">nov</span>
                </p>
            </div>
            <div class="spi-content">
                <a class="spi-title" href="#">Fantastic Business Smart Lessons</a>
                <ul class="spi-meta">
                    <li><a href="#">Marketing</a></li>
                    <li>by <a href="#">Ninzio</a></li>
                    <li>26 <a href="#">Comments</a></li>
                </ul>
                <p class="spi-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat</p>
               
            </div>
        </div>
 
    </div>
</div>

